<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chart</title>
    </head>
    <body>
        <img src="https://raw.githubusercontent.com/slocksert/chart-project/web_app/chart/logo.png">
        <br>
        <form action="plott" method="post">
        <p>Give the date in the format YYYY/MM/DD</p>
        <br>
        <p>Date</p>
        <input type= "number, text" name="date_input">
        <input type="submit" value="SEND" id="date">
        </form>
    </body>
</html>